<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Warn"
      internalLogFile="Logs/nlog-internal.log">

    <!--internalLogLevel="Off"-->
    <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
    <variable name="myvar" value="myvalue" />

    <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
    <targets>

        <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

        <!--
    Write events to a file with the date in the filename.
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->

        <!-- write logs to file -->
        <target xsi:type="File" name="level-log" fileName="${basedir}/${date:format=yyyy-MM-dd}/${level}.log"
                layout="${longdate}|${activityid}|${uppercase:${level}}
             ${newline}Message:${message}
             ${newline} ------------------------------------------------------------------------ "
                archiveFileName="${basedir}/archive.{#}.log"
                archiveEvery="Day"
                archiveNumbering="Rolling"
                maxArchiveFiles="7"
                concurrentWrites="true"
                keepFileOpen="true" />

        <target xsi:type="File" name="allfile" fileName="${basedir}/${date:format=yyyy-MM-dd}/${level}.log"
                layout="${longdate}|${activityid}|${uppercase:${level}}
             ${newline}Message:${message}
             ${newline}Exception:${exception}
             ${newline}"
                archiveFileName="${basedir}/archive.{#}.log"
                archiveEvery="Day"
                archiveNumbering="Rolling"
                maxArchiveFiles="7"
                concurrentWrites="true"
                keepFileOpen="true" />

        <!--<target xsi:type="File" name="ownFile-web" fileName="${basedir}/${date:format=yyyy-MM-dd}/nlog-own.log"
             layout="${longdate}|${activityid}|${uppercase:${level}}|${logger} 
             ${newline}message:${message} 
             ${newline}exception:${exception} 
             ${newline}url: ${aspnet-request-url}|action: ${aspnet-mvc-action} 
             ${newline}" />-->

        <target xsi:type="Null" name="blackhole" />

        <target xsi:type="Database" name="database" dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data">
            <connectionString>${var:connectionString}</connectionString>
            <commandText>
                insert into SystemLog (Application,TraceId,Level,UserId,Message,Exception,Requesturl,Action,Callsite,Ip,UserAgent,CreateTime)
                values (@application,@traceId,@level,@userid,@message,@exception,@requesturl,@action,@callSite,@clientip,@useragent,@createtime);
            </commandText>
            <parameter name="@application" layout="Backend" />
            <parameter name="@traceId" layout="${traceId}" />
            <parameter name="@level" layout="${level}" />
            <parameter name="@userid" layout="${userid}" dbType="DbType.Int32" allowDbNull="true" /> <!--${event-properties:item=Userid}-->
            <parameter name="@message" layout="${message}" />
            <parameter name="@exception" layout="${exception:tostring}" />
            <parameter name="@requesturl" layout="${requesturl}" /><!--${aspnet-request-url}-->
            <parameter name="@action" layout="${aspnet-mvc-action}" />
            <parameter name="@callSite" layout="${callsite}" />
            <parameter name="@clientip" layout="${clientip}" />
            <parameter name="@useragent" layout="${aspnet-request-useragent}" />
            <parameter name="@createtime" layout="${date}" />

        </target>

    </targets>

    <rules>
        <!-- add your logging rules here -->

        <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->

        <!--All logs, including from Microsoft-->
        <!--minlevel 改为Trace 跟踪全部 Error 只捕获异常-->
        <logger name="*" minlevel="Error" writeTo="allfile" />

        <!--Skip Microsoft logs and so log only own logs-->
        <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
        <logger name="*" minlevel="Trace" maxlevel="Warn" writeTo="level-log" />
        <logger name="*" minlevel="Info" writeTo="database" />
        <!--<logger name="*" minlevel="Trace" writeTo="ownFile-web" />-->
    </rules>
</nlog>


<!--增加引用
<PackageReference Include="NLog.Extensions.Logging" Version="1.2.1" />
<PackageReference Include="NLog.Web.AspNetCore" Version="4.6.0" />-->